<div class="mainContainer">
  <div>
    <button mat-raised-button color="primary" (click)="createDTP()">Create new DTP</button>
  </div>
  <div class="separator">
    <span>or</span>
  </div>
  <div>
    <mat-selection-list #shoes [multiple]="false">
      <div mat-subheader>Select existing DTP</div>
      <mat-list-option *ngFor="let dtp of dtps" (click)="selectDTP(dtp)">
        {{dtp.title}}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
