<div class="mainContainer">
  <ng-template [ngIf]="dtp">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="dtp.title" (keydown)="saveChanges(dtp)">
    </mat-form-field>
    <ng-template ngFor let-rootSectionDtp [ngForOf]="getChildren(dtp)" let-index="index">
      <ng-container [ngTemplateOutlet]="subElementEditor" [ngTemplateOutletContext]="{element: dtp, subElement: rootSectionDtp, index: index}"></ng-container>
    </ng-template>
    <div *ngIf="getChildren(dtp)?.length === 0">
      <ng-container [ngTemplateOutlet]="addElementMenu" [ngTemplateOutletContext]="{fromElement: dtp, order: 0}"></ng-container>
    </div>
  </ng-template>
</div>

<ng-template #subElementEditor let-element="element" let-subElement="subElement" let-index="index">
  <ng-template #subElementEditor2 [ngTemplateOutlet]="subElementEditor2">
    <div *ngIf="index === 0" (mouseover)="hoverTrigger(subElementEditor2)" style="min-height: 15px">
      <ng-container *ngIf="displayedTemplate === subElementEditor2" [ngTemplateOutlet]="addElementMenu" [ngTemplateOutletContext]="{fromElement: element, order: index - 0.5}"></ng-container>
    </div>
  </ng-template>

  <div class="subGroup">
    <div class="sectionDtpContainer" *ngIf="!isParagraph(subElement); else paragraphContainer">
      <mat-form-field appearance="fill">
        <mat-label>Title Section</mat-label>
        <input matInput [(ngModel)]="subElement.content" (keydown)="saveChanges(subElement)">
      </mat-form-field>
      <ng-container *ngIf="getChildren(subElement) === undefined || getChildren(subElement)?.length === 0" [ngTemplateOutlet]="addElementMenu" [ngTemplateOutletContext]="{fromElement: subElement, order: 0}"></ng-container>
      <button mat-icon-button (click)="deleteModel(subElement)">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip *ngFor="let tag of subElement.getTags()" color="primary" selected>{{tagsEnum[tag]}}</mat-chip>
      </mat-chip-list>
    </div>
    <ng-template #paragraphContainer>
      <div class="paragraphDtpContainer">
        <mat-form-field appearance="fill">
          <mat-label>Paragraph Content</mat-label>
          <textarea matInput [(ngModel)]="subElement.content" (keydown)="saveChanges(subElement)"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tags</mat-label>
          <mat-select [(ngModel)]="subElement.tags" (valueChange)="saveChanges(subElement)" multiple>
            <mat-option *ngFor="let tag of tagsList" [value]="getTagsValue(tag)">{{tag}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button (click)="deleteModel(subElement)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-template>

    <ng-template ngFor let-child [ngForOf]="getChildren(subElement)" let-index="index">
      <ng-container [ngTemplateOutlet]="subElementEditor" [ngTemplateOutletContext]="{element: subElement, subElement: child, index: index}"></ng-container>
    </ng-template>
  </div>

  <ng-template #subElementEditor3 [ngTemplateOutlet]="subElementEditor3">
    <div (mouseover)="hoverTrigger(subElementEditor3)" style="min-height: 15px">
      <ng-container *ngIf="displayedTemplate === subElementEditor3" [ngTemplateOutlet]="addElementMenu" [ngTemplateOutletContext]="{fromElement: element, order: index + 0.5}"></ng-container>
    </div>
  </ng-template>
</ng-template>

<ng-template #addElementMenu let-fromElement="fromElement" let-order="order">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span (click)="createSectionDtp(fromElement, order)">Add Section</span>
    </button>
    <button mat-menu-item>
      <span (click)="createParagraph(fromElement, order)">Add paragraph</span>
    </button>
  </mat-menu>
</ng-template>
